@page
@model Project_PRN.Pages.AssetStatus.EditModel
@{
    var profile = Model.userProfile;
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/Settings.css" />
<link rel="stylesheet" href="~/css/CRUD.css" />

<header class="sticky-header">
    <div id="navbar">
        <a href="/Asset">Home</a>
        <a href="">Transactions</a>
        <a href="/Setting">Settings</a>
        <div id="user-info" style="float: right;">
            <a asp-page="/User/Details" asp-route-id="@profile.Id">
                @Html.DisplayFor(model => model.userProfile.Email)
            </a>
        </div>
    </div>
</header>

<div class="row create-form-asset">
    <div class="col-md-4">
        <h3 class="create-object-text">Update Status</h3>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-danger error-message-text">@ViewData["msg"]</div>
            <input type="hidden" asp-for="AssetStatus.Id" />
            <div class="form-group">
                <label asp-for="AssetStatus.Name" class="control-label"></label>
                <input asp-for="AssetStatus.Name" class="form-control" />
                <span asp-validation-for="AssetStatus.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetStatus.AvailableToUse" class="control-label checkbox-input"></label>
                @{
                    if (Model.AssetStatus.AvailableToUse == 1)
                    {
                        <input asp-for="availableToUse" name="availableToUse" type="checkbox" checked />
                    }
                    else
                    {
                        <input asp-for="availableToUse" name="availableToUse" type="checkbox" />
                    }
                }
                <span asp-validation-for="AssetStatus.AvailableToUse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetStatus.Active" class="control-label checkbox-input"></label>
                @{
                    if (Model.AssetStatus.Active == 1)
                    {
                        <input asp-for="active" name="active" type="checkbox" checked />
                    }
                    else
                    {
                        <input asp-for="active" name="active" type="checkbox" />
                    }
                }
                <span asp-validation-for="AssetStatus.Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetStatus.CurrentlyInUse" class="control-label checkbox-input"></label>
                @{
                    if (Model.AssetStatus.CurrentlyInUse == 1)
                    {
                        <input asp-for="currentlyInUse" name="curentlyInUse" type="checkbox" checked/>
                    }
                    else
                    {
                        <input asp-for="currentlyInUse" name="curentlyInUse" type="checkbox" />
                    }
                }
                <span asp-validation-for="AssetStatus.CurrentlyInUse" class="text-danger"></span>
            </div>
            <div class="form-group btn-action">
                <input type="submit" value="Save" class="btn btn-success" />
                <a href="/Setting/Statuses" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
