@page
@model Project_PRN.Pages.User.CreateModel
@{
    var profile = Model.userProfile;
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/Settings.css" />
<link rel="stylesheet" href="~/css/CRUD.css" />

<header class="sticky-header">
    <div id="navbar">
        <a href="/Asset">Home</a>
        <a href="">Transactions</a>
        <a href="/Setting">Settings</a>
        <div id="user-info" style="float: right;">
            <a asp-page="/User/Details" asp-route-id="@profile.Id">
                @Html.DisplayFor(model => model.userProfile.Email)
            </a>
        </div>
    </div>
</header>

<div class="row create-form-asset">
    <div class="col-md-4">
        <h3 class="create-object-text">Create User</h3>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="newUser.Username" class="control-label"></label>
                <input asp-for="newUser.Username" class="form-control" />
                <span asp-validation-for="newUser.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newUser.Password" class="control-label"></label>
                <input asp-for="newUser.Password" type="password" class="form-control" />
                <span asp-validation-for="newUser.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newUser.Email" class="control-label"></label>
                <input asp-for="newUser.Email" class="form-control" />
                <span asp-validation-for="newUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newUser.UserCode" class="control-label"></label>
                <select asp-for="newUser.UserCode" class="form-control" asp-items="ViewBag.UserCode"/>
                <span asp-validation-for="newUser.UserCode" class="text-danger"></span>
            </div>
            <div class="form-group btn-action">
                <input type="submit" value="Create" class="btn btn-success" />
                <a href="/Setting/Users" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
