@page
@model Project_PRN.Pages.Setting.IndexModel
@{
    Layout = "CommonPage";
}

    <header class="sticky-header">
        <div id="navbar">
            <a href="/Asset">Home</a>
            <a href="">News</a>
            <a href="/Setting">Settings</a>
        </div>
    </header>
    <div class="left-tab" style="height: 100%;">
        <div class="tab" style="height: 100%;">
            <button class="tablinks" id="defaultOpen">London</button>
            <button class="tablinks">Paris</button>
            <button class="tablinks">Tokyo</button>
        </div>
    </div>